/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 2:37:10 PM
    Author     : Jorge
*/
.pes h1{
    color: #5B5DA2;
    margin-bottom: 5px;
}

.pes p{
    font-weight: bold;
}

.pes_header{
    height: 45px;
    margin-bottom: 50px;
}

.pes_header>div{
    display: inline-block;
    background-color: #EEEEF3;
    margin-left: 60px;
    width: 700px;
}

/*
* To add the X button to the Live Chat bar 
*/
div#title-bar::after {
    content: "X";
    font-size: larger;
    float: right;
    margin-right: 20px;
    color: white;
}

.tab-panel-product .tab-pane {
    height: 320px;
    overflow-y: scroll;
}

/*
To add sub-menu funtionalities
*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}