/*
Advannova License

*/
/*
* CSS For the tab slider
*/
.jssort13 {
    position: absolute;
    width: 150px;
    height: 550px;
}

.jssort13 .p {
    POSITION: absolute;
    WIDTH: 150px;
    HEIGHT: 30px;
    TOP: 0;
    LEFT: 0;
    padding: 0px;
}

.jssort13 .w {
    cursor: pointer;
    position: absolute;
    WIDTH: 148px;
    HEIGHT: 29px;
    top: -1px;
    left: 0px;
}

.jssort13 .pav .w, .jssort13 .pdn .w {
    border-right: 1px solid #fff;
}

.jssort13 .c {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 28px;
    text-align: center;
    color: #000;
    font-size: 13px;
}

.p.pav .c p{
    color: black;
    font-weight: bold;
}

.jssort13 .p .c, .jssort13 .pav:hover .c {
    background-color: #68A4C4;
    color: #fff;
}

.jssort13 .pav .c, .jssort13 .p:hover .c {
    background-color: #fff;
    font-weight: bold;
    color: darkblue
}

