<div class="row-fluid">
    <div class="col-lg-6">
        <img class="" src="img/rest_manager/bars_nightclubs.png">
    </div>
    <div class="col-lg-6 text-justify">
        <h3>Run the Bar — Don’t Let the Bar Run You</h5>
            <p>
                The Restaurant Manager Bar POS system keeps the crowd happy and drinks flowing which drives your bottom line.
                To improve billing accuracy and keep margins high Restaurant Manager bar software can play a key role with 
                features like quick tab pre-authorizations, easy tab transfers and one touch “next round” ordering. Restaurant
                Manager’s system for bars nightclubs POS delivers the speed customers expect, the features bartenders want, and
                the security you need.
            </p>
            <h4>Inventory Control</h4>
            <p>
                Eliminate theft and waste by bar or club staff while understanding consumption patterns with a powerful and robust 
                Inventory Control module.
            </p>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-6">
        <h4>Management Reporting</h4>
        <p>Automate the end of day (EOD) process and access reports from anywhere via a Web browser or one of our mobility products and services.</p>
    </div>
    <div class="col-lg-6">
        <h4>Instant Pre-Auths</h4>
        <p>
            Ensure settlement with one swipe instant pre-auths for opening tabs.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Age Verification</h4>
        <p>Protect your customers and staff when serving liquor.</p>
    </div>
    <div class="col-lg-6">
        <h4>Price Scheduling</h4>
        <p>
            Run happy hour promotions or app specials with no hassle.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Liquor Control/Video Tracking</h4>
        <p>
            Track alcohol transactions to ensure each drink served is paid for.
        </p>
    </div>
</div>
