<div class="row-fluid">
    <div class="col-lg-6">
        <img class="" src="img/rest_manager/takeout_delivery.png">
    </div>
    <div class="col-lg-6 text-justify">
        <h3>Focus on the Customer…Not the Computer</h5>
            <p>
                Restaurant Manager gives you the tools to efficiently service customers while at the same time sending accurate
                information to the food prep staff. In addition, our QSR point of sale reporting package provides real-time sales
                statistics, server sales and a host of other sales related data, allowing you to spend more time running your business.
            </p>
            <h4>Digital Signage</h4>
            <p>
                Display menus and daily specials to promote high margin items, events, and more.
            </p>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-6">
        <h4>Customer Loyalty</h4>
        <p>Increase revenues and generate more repeat business. Combine loyalty programs with powerful promotion and coupon capabilities to target specific.</p>
    </div>
    <div class="col-lg-6">
        <h4>Management Reporting</h4>
        <p>
            Get information on voids or deletions and automate the end of day (EOD) process while accessing your reports from anywhere via an internet brows.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Advance Orders</h4>
        <p>
            Have pick up or delivery orders ready when the customer is.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Price Scheduling</h4>
        <p>
            Easily calculate the right price for combo meals.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Customer Displays</h4>
        <p>
            Increase average checks by using customer displays to offer add-ons to customers.
        </p>
    </div>
</div>
