<div class="row-fluid">
    <div class="col-lg-6">
        <img class="" src="img/rest_manager/table_service.png">
    </div>
    <div class="col-lg-6 text-justify">
        <h3>Get the tools to boost your bottom line</h5>
            <p>
                Restaurant Manager helps to decrease costs, improve efficiencies and increase revenue. Servers turn tables
                faster and lower wait times with easy check and item splitting. Maximize your revenue by instantly adding an
                item from any POS workstation allowing for more accurate reporting and better insight to which specials to repeat.
            </p>
            <h4>Table Side Order Placement</h4>
            <p>
                Servers place orders more quickly, and turn more tables with access to operational information via cell phone, email,
                or PDA.
            </p>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-6">
        <h4>Table Management</h4>
        <p>Accurately manage projected wait times and organize overall seating management with RM Wait List.</p>
    </div>
    <div class="col-lg-6">
        <h4>Management Reporting</h4>
        <p>
            Get information on voids, staff productivity, which menu items are performing well and a wide variety of other 
            important operational information.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Inventory Control</h4>
        <p>Eliminate theft and waste with a powerful and robust Inventory Control module.</p>
    </div>
    <div class="col-lg-6">
        <h4>Split Check</h4>
        <p>
            Streamlined split check makes it easy to accommodate customers.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Back Office Reporting</h4>
        <p>
            Robust reporting helps you make better business decisions.
        </p>
    </div>
</div>
