<div class="row-fluid">
    <div class="col-lg-6">
        <img class="" src="img/rest_manager/takeout_delivery.png">
    </div>
    <div class="col-lg-6 text-justify">
        <h3>Fast Service with Food that is Prepared Right – the First Time</h5>
            <p>
                Quickly serving customers, managing special orders, sending accurate information to the food prep staff
                and getting the order out the door requires the right tools. Restaurant Manager features intuitive POS 
                screens that are tailored to prompt staff through specific tasks quickly and accurately. Takeout and Delivery
                Service covers all the bases that make your business so different from other restaurants – from caller ID 
                and last order recall to fully integrated online ordering, driving directions and money drops.
            </p>
            <h4>Integrated Online Ordering</h4>
            <p>
                Keep your business open 24x7 by allowing customers to place advance orders and generate additional orders and
                revenue without adding labor costs.
            </p>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-6">
        <h4>Order Tracking</h4>
        <p>Instantly identifies all orders that aren’t prepared and out the door within a specific amount of time.</p>
    </div>
    <div class="col-lg-6">
        <h4>On Screen Ordering</h4>
        <p>
            One intuitive screen allows employees to select various options to customize an order.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Customer Loyalty</h4>
        <p>
            Customer loyalty programs are a great way for pizza, delivery and carry-out establishments to increase revenues
            and generate more repeat business.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Advance Ordering</h4>
        <p>
            Store an order and automatically send it to the food prep area to guarantee timely delivery.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Reports</h4>
        <p>
            Extensive reporting and back office capabilities provide you with the information you need to reduce costs and increase profits.
        </p>
    </div>
</div>
