<h2 class="aligncenter">POSsible Food Truck POS System</h2>
<div class="aligncenter marginbot30"><img src="img/possible/inner-pages/food-truck.jpg"></div>
<p>
    The Food Truck industry has only grown in strength over the past five years, and is one of the best
    performing segments in the broader food-services sector. The industry's remarkable rise began in 2008,
    just as the recession hit, as hundreds of new vendors recognized changing consumer preferences favoring
    unique, gourmet cuisine. Many operators have entered the Food Truck industry for its low operating costs
    and because the business allows chefs and entrepreneurs to create innovative food that consumers are
    increasingly gravitating toward. As such, food truck that offer ethnic cuisines, fusion food and new flavors
    have performed exceptionally well.
</p>