<h2 class="aligncenter">
    POSsible Frozen Yogurt POS SystemDownload Brochure
</h2>
<div class="aligncenter marginbot30"><img src="img/possible/inner-pages/frozen-yogurt.jpg"></div>
<p>
    Frozen yogurt is a frozen dessert made with yogurt and sometimes other dairy products. It
    varies from slightly to much more tart than ice cream, as well as being lower in fat. It is
    different from ice milk and conventional soft serve.  Over the last 5 years, frozen yogurt 
    shops have captivated the dessert marketplace as an industry leader.
</p>
<p>
    Possible POS Frozen Yogurt POS software integrates directly with a food-safe scale, making
    it easier to communicate. This ensures not only a high margin of profitability, but also keeps
    your business safe from inordinate fees for not using the correct hardware.
</p>