<div class="aligncenter marginbot30"><img src="img/credit_cards/chasepay.jpg"></div>
<p>Our customers choose us because they can trust our products and technology. Our state-of-the-art, secure payment platforms provide some of the most advanced payment solutions available in the marketplace today, both online and at the point of sale.</p>                        
<div class="aligncenter marginbot30">
    <p class="text-info">Click the images below to get more details.</p>
    <small><i>(This will open the First Data features pages in a new window.)</i></small>
</div>
<div class="text-justify">
    <div class="row">
        <div class="col-lg-4">
            <a href="http://www.chasepaymentech.com/point_of_sale_payments.html" target="new"><img src="img/credit_cards/chasepay/top_pos_payments.jpg" border="0"></a>
        </div>
        <div class="col-lg-8">
            <p><b>Point-of-Sale Payment Solutions</b></p>
            <p>At Chase Paymentech, we offer a wide range of point-of-sale (POS) payment options that let merchants accept credit or debit card payments in the card-present environment. As an industry leader, you can count on us to offer the latest technology, top-of-the-line security, exceptional uptime and outstanding customer support. Let our knowledgeable staff assist you with selecting the right connectivity and point-of-sale equipment to exceed your business requirements.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="http://www.chasepaymentech.com/orbital/" target="new"><img src="img/credit_cards/chasepay/top_onlinepay.jpg" border="0"></a>
        </div>
        <div class="col-lg-8">
            <p><b>Online Payment Processing Solutions</b></p>
            <p>Get up and running fast with Orbital Virtual Terminal, our proprietary Web-based application that lets you authorize, capture, settle payments and more directly from your computer. All you need to accept credit cards is an Internet connection and Web browser – it’s that easy.</p>
            <p>Increase sales by processing PayPal transactions directly through us. Our integrated solution gives you access to the PayPal customer base through our robust payment platforms. Accept PayPal as an additional payment option and accelerate the growth of your online business.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="http://www.chasepaymentech.com/reporting_solutions.html" target="new"><img src="img/credit_cards/chasepay/top_reporting.jpg" border="0"></a>
        </div>
        <div class="col-lg-8">
            <p><b>Online Reporting Solutions</b></p>
            <p>Information is power – you can use your payment processing data to keep tabs on your business, identify trends and streamline operations. That's why we offer secure, customizable online reporting tools. As a Chase Paymentech merchant, you'll receive access to either Resource Online or Paymentech Online, depending on how your business processes. And whether you have one shop, a fleet or a multi-channel chain, you can take advantage of our supplementary data management programs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="http://www.chasepaymentech.com/safetech/" target="new"><img src="img/credit_cards/chasepay/top_safetech.jpg" border="0"></a>
        </div>
        <div class="col-lg-8">
            <p><b>Safetech Fraud & Security Solutions</b></p>
            <p>Now more than ever protecting revenue is vital to your business. The increase in fraudulent payment activity and the security of customer account information have been identified as two of the most critical issues facing merchants today.</p>
            <p>Chase Paymentech offers a comprehensive suite of fraud prevention and data encryption technologies to streamline your payments management with a single-source solution for all your processing, fraud prevention and data security needs.</p>
        </div>
    </div>
</div>