<div class="aligncenter marginbot30"><img src="img/credit_cards/firstdatalg.jpg"></div>
<p> Welcome to a new era in commerce where in-store commerce, eCommerce and mobile commerce converge to provide consumers with an integrated buying experience that is personalized, secure, open and smart wherever, anytime, through any device.</p>                        
<p>First Data uCommerceSM Solutions make it simple and straightforward to provide the Universal Commerce experience your customers expect, so you can grow your business and stay competitive.</p>
<div class="aligncenter marginbot30">
    <p class="text-info">Click the images below to get more details.</p>
    <small><i>(This will open the First Data features pages in a new window.)</i></small>
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="https://www.firstdata.com/en_us/products/merchants/card-and-check-acceptance.html" target="new"><img src="img/credit_cards/fd/card.jpg" border="0"></a>
    </div>
    <div class="col-lg-8">
        <p><b>Card & Check Acceptance Solutions Card Acceptance</b></p>
        <p>First Data offers businesses like yours payment processing solutions that securely accept cards, checks and ACH payments in today's ever changing marketplace.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="https://www.firstdata.com/en_us/products/merchants/terminals-and-pos.html" target="new"><img src="img/credit_cards/fd/term.jpg" border="0"></a></td>
    </div>
    <div class="col-lg-8">
        <b>Terminals & POS Solutions</b>
        First Data offers a full range of point-of-sale (POS) terminals, peripherals and supplies designed to accept a variety of payment types quickly and safely.
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="https://www.firstdata.com/en_us/products/merchants/ecommerce.html" target="new"><img src="img/credit_cards/fd/ecom.jpg" border="0"></a>
    </div>
    <div class="col-lg-8">
        <p><b>eCommerce Solutions</b></p>
        <p>First Data offers a comprehensive suite of advanced eCommerce solutions built on high-performing and scalable technology to meet your online payment acceptance needs.</p> 
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="https://www.firstdata.com/en_us/products/merchants/security-and-fraud-solutions.html" target="new"><img src="img/credit_cards/fd/lock.png" border="0"></a>
    </div>
    <div class="col-lg-8">
        <b>Security & Fraud Solutions</b>
        <p> Security and Fraud solutions from First Data include the most up-to-date protections throughout the payment processing chain to provide comprehensive data security and reduce your liability.</p>
    </div>
</div>