<div class="aligncenter marginbot40"><img src="img/credit_cards/mercurylg.jpg"></div>
<div class="row">
    <div class="col-lg-6 margintop40">
        <b>All-in-One Payment Solutions</b>
        <p>Stay up and running with Mercury's unmatched payment solutions, including the ability to accept all payment types and cards securely and continuously, mobile device flexibility, speedy funding, instant transaction viewing and more.</p>
    </div>
    <div class="col-lg-6"><img src="img/credit_cards/mps/handcard.jpg"></div>
</div>

<div class="aligncenter marginbot30">
    <p class="text-info">Simply click one of the images below to find out more about that feature!</p>
    <small><i>(Note: This will take you to Mercury's website in a new window.)</i></small>
</div>

<div class="row">
    <div class="col-lg-4">
        <a href="http://www.mercurypay.com/merchant-solutions/payment-solutions/integrated-pos/" target="new"><img src="img/credit_cards/mps/register.png" border="0"></a>
        <p><b>Integrated POS & Cash Registers</b></p>
        <p>Simplify business operations with Mercury's integrated payment solutions that enable every type of transaction directly from your POS system or electronic cash register (ECR).</p>
    </div>
    <div class="col-lg-4">
        <a href="http://www.mercurypay.com/merchant-solutions/payment-solutions/mobile-and-tablets/" target="new"><img src="img/credit_cards/mps/mobile.png" border="0"></a>
        <p><b>Mobile & Tablets</b></p>
        <p>Accept credit and gift cards anytime, anywhere, from most mobile devices including iPhone and iPad.</p>
    </div>
    <div class="col-lg-4">
        <a href="http://www.mercurypay.com/merchant-solutions/payment-solutions/terminals/" target="new"><img src="img/credit_cards/mps/ccswipe.jpg" border="0"></a>
        <p><b>Terminals</b></p>
        <p> Process all payment types as well as tip adjustments with Mercury's wide selection of terminals the perfect solution for merchants who don't have POS systems.</p>
    </div>
</div>