<div class="aligncenter marginbot30"><img src="img/credit_cards/sterlinglogo.png"></div>
<p> Sterling Payment Technologies processes payment transactions for all major credit, debit and fleet card networks, including Visa, MasterCard, Discover and American Express.</p>                        
<p>Sterling provides merchants with a complete range of electronic payment processing services, including credit, debit, PIN debit, fleet, gift card, rewards and loyalty programs, electronic benefits transfer (EBT), and check authorization and conversion.</p>
<div class="aligncenter marginbot30">
    <p class="text-info">Click the images below to get more details.</p>
    <small><i>(This will open the First Data features pages in a new window.)</i></small>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>Sterling Advantage Provides Resources for Running Your Business</b></p>
        <p>Membership in Sterling Advantage gives you access to business productivity tools, discounts, and services to help you save money and manage your business more efficiently.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/advantage/" target="new"><img src="img/credit_cards/sterling/advantage.png" border="0"></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>Powerful, integrated payment solution for your business</b></p>
        <p>Sterling's Bridge Business Intelligence® integrates seamlessly with your electronic cash register (ECR), bringing you speed, convenience and reliability, all at an affordable cost.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/bridge-business-intelligence/" target="new"><img src="img/credit_cards/sterling/bridge.png" border="0"></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>Pay for Business Needs with EZpay</b></p>
        <p>With Sterling's EZpay, you don't have to have the cash on hand. Just a small portion of your future credit card sales will pay for what you need.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/ezpay/" target="new"><img src="img/credit_cards/sterling/ezpay.png" border="0"></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>A Merchant Cash Advance Helps Businesses Grow</b></p>
        <p>Sterling Funding provides cash for businesses by leveraging an asset that you already have - your monthly Visa and MasterCard sales.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/funding/" target="new"><img src="img/credit_cards/sterling/funding.png" border="0"></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>Build Profits with Sterling Gift</b></p>
        <p>With Sterling Gift, cards can be used as a prepaid card, promotional card, employee rewards card, for a merchandise return, or as a customer incentive.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/gift/" target="new"><img src="img/credit_cards/sterling/gift.png" border="0"></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>Accept Card Payments Wherever Your Business Takes You</b></p>
        <p>With PAYware Mobile's secure reader, merchants can swipe a card, capture a signature and e-mail receipts - with security and reliability, so they never have to miss another sales opportunity.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/payware-mobile/" target="new"><img src="img/credit_cards/sterling/payware-mobile.png" border="0"></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p><b>Process Payments Online with Sterling Virtual Terminal</b></p>
        <p>It's easy to turn your PC into a low cost, convenient way to accept credit and debit card payments. All you need is a PC and an Internet connection - no costly hardware to purchase and maintain.</p>
    </div>
    <div class="col-lg-6">
        <a href="https://www.sterlingpayment.com/products/sterling-virtual-terminal/" target="new"><img src="img/credit_cards/sterling/virtual-terminal.png" border="0"></a>
    </div>
</div>