<div class="aligncenter marginbot40"><img style="width: 282px; height: 94px;" title="tsys_logo" alt="logo" src="img/credit_cards/tsys.jpg"></div>
<div class="row">
    <div class="col-lg-2">
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/credit-card-machine/index.html" target="_blank"><img src="img/credit_cards/tsys/mach.png"></a>
    </div>
    <div class="col-lg-10">
        <h4>Credit Card Machine</h4>
        <p>Easily accept credit cards with our next-generation, credit card machines.</p>
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/credit-card-machine/index.html" target="_blank" title="Credit Card Machine" >
            Learn More
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/mobile-credit-card-processing/index.html" target="_blank">
            <img src="img/credit_cards/tsys/mobile.png" border="0">
        </a>
    </div>
    <div class="col-lg-10">
        <h4>Mobile Credit Card Processing</h4>
        <p>
            Accept credit cards anytime, anywhere you do business from your smartphone or tablet with our app and card reader. Choose the plan
            that's right for you and start securely accepting payments.
        </p>
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/mobile-credit-card-processing/index.html" target="_blank" title="Mobile Credit Card Processing">
            Learn More
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/online-credit-card-processing/index.html" target="_blank"><img src="img/credit_cards/tsys/online.png" border="0"></a>
    </div>
    <div class="col-lg-10">
        <h4>Online Credit Card Processing</h4>
        <p>
            Our custom e-commerce solutions are designed to meet your unique needs
            and expand with your business. Choose from a fully integrated
            interface or a virtual terminal payment solution.
        </p>
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/online-credit-card-processing/index.html" target="_blank" title="Online Credit Card Processing">
            Learn More
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/extended-services/index.html" target="_blank"><img src="img/credit_cards/tsys/extended.png" border="0"></a>
    </div>
    <div class="col-lg-10">
        <h4>Extended Services</h4>
        <p>
            TSYS Merchant Solutions SM provides several tools such as: online monitoring dashboards with competitive
            analysis, multi-currency solutions and gift and reward programs to
            help alleviate the more common frustrations and associated risks
            of day-to-day business.
        </p>
        <a href="http://www.tsysmerchantsolutions.com/merchant-solutions/extended-services/index.html" target="_blank" title="Extended Services">
            Learn More
        </a>
    </div>
</div>
