<div class="aligncenter marginbot40">
    <div class=" marginbot40"><img title="vantiv_logo" alt="logo" src="img/credit_cards/vantiv.gif"></div>
</div>
<div class="marginbot40">
    <h4> Payment Processing for Merchants</h4>
    <p>
        Vantiv has the merchant payments solutions to support and
        enhance your business whether you're just starting out in
        merchant credit card processing or you're looking to
        expand your current payment options.&nbsp; Read on to
        explore the benefits that countless other successful
        merchants are already enjoying.
    </p>
</div>
<div class="row">
    <div class="col-lg-5">
        <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/Credit-Cards" target="_blank"><img src="img/credit_cards/vant/cred.gif"></a>
    </div>
    <div class="col-lg-7">
        <h5>Credit Cards</h5>
        <p>
            Choosing the right merchant solutions for your business can be
            intimidating. Choose Vantiv as your merchant service provider
            and make merchant payments easy for your customers while growing
            your business.
        </p>
        <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/Credit-Cards" target="_blank">More</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/PIN-Debit-Cards" target="_blank">
            <img src="img/credit_cards/vant/pin.gif">
        </a>
    </div>
    <div class="col-lg-7">
        <h5>PIN Debit Cards</h5>
        <p>
            Merchant services is not just about credit cards. Today, your
            merchant payment options can include popular PIN debit cards
            too. Honor customer choices and lower transaction costs by using
            the nation's number one PIN debit acquirer.
        </p>
        <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/PIN-Debit-Cards" target="_blank" class="arrow">More</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/EBT-Cards" target="_blank">
            <img src="img/credit_cards/vant/ebt.gif" border="0">
        </a>
    </div>
    <div class="col-lg-7">
        <h5>Electronic Benefit Transfer (EBT)</h5>
        <p> 
            Increase customer convenience and reduce fraud by adding EBT
            card acceptance to your payment processing options.
        </p>
        <p> <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/EBT-Cards" target="_blank" class="arrow">More</a></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/Check" target="_blank">
            <img src="img/credit_cards/vant/check.jpg">
        </a>
    </div>
    <div class="col-lg-7">
        <h5> Checks</h5>
        <p> 
            Reduce the risk of check fraud and processing fees while
            still catering to consumers who prefer to pay by check.
        </p>
        <p> <a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/Check" target="_blank" class="arrow">More</a></p>
    </div>
</div>

<div>
    <h4><a href="http://www.vantiv.com/Products/Card-Payment-Processing/Payment-Processing-for-Merchants/Cardholder-Services" target="_blank">Cardholder Services for Merchants </a> </h4>
    <p>
        Vantiv takes the time to get to know you and your business so we can
        design a unique solution to improve your payment processing, boost
        your brand value, and maintain data security.
    </p>
</div>