<div class="aligncenter marginbot40"><img src="img/credit_cards/worldpaylg.jpg"></div>
<div class="aligncenter marginbot30">
    <h4>Merchant Services for Small Business</h4>
    <p>Flexible card processing solutions for all payment types.</p>
    <p>We help more than half a million businesses accept the widest range of payments - safely, securely and quickly.</p>
    <p>Your business can use WorldPay to form a complete payment solution, to meet specialist needs, or in conjunction with services from other providers.</p>
</div>

<div class="row">
    <div class="col-lg-2">
        <a href="http://www.worldpay.com/products/index.php?page=ecom&c=US" target="new">
            <img src="img/credit_cards/wp/online.jpg">
        </a>
    </div>
    <div class="col-lg-10">
        <b>Online Payments </b>
        <p>Our global online payment solutions are widely used by businesses and organisations of all sizes.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <a href="http://www.worldpay.com/products/index.php?page=ma&c=US" target="new">
            <img src="img/credit_cards/wp/merchant.jpg" border="0">
        </a>
    </div>
    <div class="col-lg-10">
        <b>Merchant Accounts</b>
        <p>We provide all types of businesses with multi-currency merchant accounts.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <a href="http://www.worldpay.com/products/index.php?page=how&c=US" target="new">
            <img src="img/credit_cards/wp/works.jpg" border="0">
        </a>
    </div>
    <div class="col-lg-10">
        <b>How It Works</b>
        <p>Find out how our card transaction systems work.</p> 
    </div>
</div>

