<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">PAR EverServ<sup><smal>&#174;</smal></sup> Hardware</h4></div></div>
    <img class="img-responsive" src="img/par_everserve/hardware/hardware_1.jpg">
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">PAR EverServ<sup><smal>&#174;</smal></sup> 7700</h4></div></div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/hardware/hardware_2.PNG"></div>
    <div class="col-lg-6">
        <div class="margintop40">
            <ul>
                <li>Advanced Design, Rugged Durability</li>
                <li>Next-Gen CPU Architecture 
                    <ul class="unstyled">
                        <li>Intel 2.3 GHz Pentium Processor dual core</li>
                        <li>Intel I3 2.6 GHz Processor dual core</li>
                        <li>Intel I5 2.7 GHz Processor dual core</li>
                    </ul>
                </li>
                <li>Modular, Scalable, Centralized I/O</li>
                <li>Superior Serviceability</li>
                <li>Multi Touch (optional)</li>
            </ul>
            <h3>Where Elegance and Power meet.</h3>
            <p>Built with the same rugged durability PAR is known for but in an innovative, sleek design.</p>
        </div>
    </div>
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">PAR EverServ<sup><smal>&#174;</smal></sup> 7200</h4></div></div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/hardware/hardware_3.jpg"></div>
    <div class="col-lg-6">
        <div class="margintop40">
            <ul>
                <li>Advanced Design, Rugged Durability</li>
                <li>Next-Gen CPU Architecture 
                    <ul class="unstyled">
                        <li>Intel Atom 1.86 GHz dual core</li>
                    </ul>
                </li>
                <li>Modular, Scalable</li>
                <li>Centralized I/O</li>
                <li>Superior Serviceability</li>
            </ul>
            <h3>Where Elegance and Power meet.</h3>
            <p>Built with the same rugged durability PAR is known for but in an innovative, sleek design.</p>
        </div>
    </div>
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">PAR EverServ<sup><smal>&#174;</smal></sup> 500</h4></div></div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/hardware/hardware_4.jpg"></div>
    <div class="col-lg-6">
        <div class="margintop40">
            <ul>
                <li>Next-Gen CPU Architecture 
                    <ul class="unstyled">
                        <li>Intel Atom 1.86 GHz dual core</li>
                    </ul>
                </li>
                <li>Sleek design with compact footprint</li>
                <li>Durable and reliable</li>
                <li>Easy to service</li>
            </ul>
            <h3>Compact, Reliable and Economical.</h3>
            <p>Premium PAR quality POS now more affordable.</p>
        </div>
    </div>
</div>

<p class="aligncenter">For more information you can see <a href="downloadable/pdfs/par_everserve/hardware.pdf" target="_blank">this</a> PDF</p>