<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">History</h4></div></div>
    <div class="col-lg-6">
        <h1 class="margintop40">1978</h1>
        <p>Invented the first Stand-Alone POS</p>
    </div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/history/history_1.jpg"></div>
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">Facts</h4></div></div>
    <div class="col-lg-6">
        <h1>385,000+</h1>
        <p>Terminals Installed</p>
        <h1>50,000+</h1>
        <p>Hardware Locations</p>
        <h1>30,000+</h1>
        <p>Software Locations</p>
        <h1>110</h1>
        <p>Countries</p>
    </div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/history/history_2.jpg"></div>
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">People</h4></div></div>
    <div class="col-lg-6">
        <h1>650</h1>
        <p>Employees</p>
        <h1>8</h1>
        <p>International Offices</p>
    </div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/history/history_3.jpg"></div>
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">Brands you know | PARs Terminals Installed</h4></div></div>
    <div class="col-lg-6">
        <h1>50,000</h1>
        <p>McDonald's</p>
        <h1>38,000</h1>
        <p>YUM!</p>
        <h1>11,000</h1>
        <p>SUBWAY</p>
        <h1>1,200</h1>
        <p>Baskin-Robbins</p>
    </div>
    <div class="col-lg-6"><img class="img-responsive" src="img/par_everserve/history/history_4.jpg"></div>
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">Spanning Multiple Segment/Industries</h4></div></div>
    <img class="img-responsive" src="img/par_everserve/history/history_5.jpg">
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">Customers</h4></div></div>
    <img class="img-responsive" src="img/par_everserve/history/history_6.jpg">
</div>

<p class="aligncenter">For more information you can see <a href="downloadable/pdfs/par_everserve/history.pdf" target="_blank">this</a> PDF</p>