<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">PAR EverServ<sup>&#174;</sup> Software</h4></div></div>
    <img class="img-responsive center-block" src="img/par_everserve/software/software_1.jpg">
</div>

<div class="row pes">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">PAR EverServ<sup>&#174;</sup> PixelPoint<sup>&#174;</sup></h4></div></div>
    <div class="col-lg-6">
        <img class="img-responsive center-block" src="img/par_everserve/software/software_2.jpg">
    </div>
    <div class="col-lg-6">
        <h4 class="margintop40"><strong>Easy to Implement</strong> and <strong>Easy to Use</strong></h4>
        <ul class="unstyled">
            <li>Increased Speed of Service</li>
            <li>Improved Order Accuracy</li>
            <li>Increased Combo Sales</li>
            <li>Increased Sales with Suggested Selling</li>
            <li>Simplified Menu Management</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="pes_header"><img src="img/par_everserve/par_logo.png"><div><h4 class="aligncenter">Features</h4></div></div>
    <h4 class="aligncenter">Multiple Service Modes</h4>
    <div class="col-lg-12">
        <p>
            PixelPoint allows you to configure the POS solution station for specific job functions. By matching the user
            interface to requirements of the position employees are able to operate faster and with fewer mistakes.
            PixelPoint enables operators to run multiple service modes within the same restaurant environment.
        </p>
    </div>
    <img class="img-responsive center-block" src="img/par_everserve/software/software_3.jpg">
    <img class="img-responsive center-block margintop40" src="img/par_everserve/software/software_4.jpg">
</div>

<p class="aligncenter">For more information you can see <a href="downloadable/pdfs/par_everserve/software.pdf" target="_blank">this</a> PDF</p>