<div class="margintop40">
    <h4>HIGHLIGHTS</h4>
    <ul>
        <li>Straightforward and speedy user interface</li>
        <li>Fully customizable POS screen layout</li>
        <li>Various item type for all type of merchants</li>
        <li>Real-Time inventory tracking and reports</li>
        <li>Mobile BackOffice supports (PDA, Tablets)</li>
        <li>Payment processing integration (UCharge<sup>TM</sup>)</li>
        <li>Training mode</li>
        <li>NTEP Certified (CC 13-006)</li>
    </ul>
    <h4>ADVANTAGES</h4>
    <ul>
        <li>Complete HQ functionality and Multi store control</li>
        <li>Dual monitor capabilities (Customer 2nddisplay)</li>
        <li>Divers auto discount policy and POS manual discount</li>
        <li>Supports various promotion types – Buy X Get Y for Z, Mix and Match</li>
        <li>Coupon Issue and E-mail promotion service</li>
        <li>Supports customer payment method - House Account, Store Credit, Point</li>
        <li>Useful Add-On for merchant – Customer Kiosk, Style Item Add-On, Pay Roll, E-mail, Hand terminal, Web Cam, Email Service</li>
        <li>Easy purchase order, receive and transfer. And all inventory flow is traced</li>
        <li>Optimal inventory control and auto purchase order function</li>
        <li>Employee Clock In/Out management</li>
        <li>About 40 standard reports and fully customize each report so it can show extensive details</li>
        <li>Auto/Manual database backup and restore</li>
        <li>Webcam feature supported for sales capture</li>
        <li>Offline POS mode and EOD</li>
    </ul>
    <h4>INNOVATIVE NEW FUNCTIONS THAT WILL BE AVAILBLE IN THE NEAR FUTURE</h4>
    <ul>
        <li>Mobile BackOffice for Android device</li>
        <li>Web browser Backoffice</li>
        <li>Multi language capabilities</li>
        <li>Whole sale mode for supplier </li>
    </ul>
</div>