<div class="margintop40">
    <ul>
        <li>Straightforward and speedy user interface</li>
        <li>Fully customizable POS screen layout</li>
        <li>Various item type for all type of merchants</li>
        <li>Real-Time inventory tracking and reports </li>
    </ul>
</div>