<div class="margintop40">
    <h4>SYSTEM REQUIREMENTS</h4>
    <h5>For Supermarkets</h5>
    <ul>
        <li>Intel Core 2 Duo 1.83GHz or higher CPU (Desktop recommended)</li>
        <li>4 GB or higher RAM</li>
        <li>Video display supporting 1024 x 768 pixel screen resolution</li>
        <li>Windows® XP 32bit, Windows® 7 32bit and 64bit operating system</li>
        <li>Minimum of 2 serial ports for Weight Scale and Receipt printer</li>
        <li>4 USB 2.0 or Higher ports  for Keyboard, Mouse, PLU Keyboard and/or other intended peripherals</li>
    </ul>
    
    <h5>For Clothing and other Retail Stores</h5>
    <ul>
        <li>Intel Core 2 Duo 1.83GHz or higher CPU</li>
        <li>2 GB or higher RAM (4 GB RAM is recommended)</li>
        <li>Video display supporting 1024 x 768 pixel screen resolution</li>
        <li>Windows® Embedded POS Ready 2009 32bit, Windows® Embedded Standard 7 32bit, Windows® XP 32bit, Windows® 7 32bit and 64bit operating system.</li>
        <li>Minimum of 1 serial port for Receipt printer</li>
        <li>4 USB 2.0 or Higher ports for Keyboard, Mouse, Barcode Scanner and/or other intended peripherals</li>
    </ul>
</div>