<div class="row-fluid margintop40">
    <div class="col-lg-4">
        <ul>
            <li>Accepts swiped or manually entered cards</li>
            <li>Lookup by Account or Phone Number</li>
            <li>Offer Member Pricing and Specials</li>
            <li>Frequent Shopper Card Usage</li>
            <li>Track Purchases Histories</li>
            <li>Manage In-House Charges</li>
        </ul>
    </div>
    <div class="col-lg-8">
        <img src="img/limitless_pos/customer_tracking.jpg">
    </div>
</div>