<div class="row-fluid margintop40">
    <div class="col-lg-6">
        <ul>
            <li>GTIN and Sunrise compliant</li>
            <li>Certified with Weights and Measures</li>
            <li>Sales Tax, GST, PST. GCT and VAT</li>
            <li>Server independent</li>
            <li>Automatic resume on power outage</li>
            <li>Manager overrides on all functions</li>
            <li>Operates in real time or batch</li>
            <li>Suspend/Resume operations</li>
            <li>Floating cashier design</li>
            <li>Separate customer/cashier displays</li>
            <li>On-Screen slide show</li>
            <li>Logos on receipts</li>
            <li>Frequent shopper loyalty programs</li>
            <li>Supports random weight items</li>
            <li>Concurrent or buffered printing</li>
            <li>Supports dual cash drawers</li>
            <li>Not on file alert with scanner disable</li>
            <li>Time and attendance</li>
            <li>Drop, Pickups, Loans and payouts</li>
            <li>Currency and percentage discounts</li>
        </ul>
    </div>
    <div class="col-lg-6">
        <ul>
            <li>Industry standard keystrokes</li>
            <li>Positive and negative check files</li>
            <li>EDC, EFT and EBT processing</li>
            <li>In-store charge account processing</li>
            <li>In-store and manufacturer coupons</li>
            <li>Print and redeem checkout coupons</li>
            <li>Food Stamp support</li>
            <li>WIC support</li>
            <li>Split package pricing</li>
            <li>Mix and Match</li>
            <li>Base, TPR, Sale and Club pricing</li>
            <li>3-Level wholesale pricing</li>
            <li>Configurable X-Z formats</li>
            <li>Check cashing tables</li>
            <li>Money order tables</li>
            <li>Dollar threshold discounts</li>
            <li>Minimum purchase reward program</li>
            <li>Drop alerts</li>
            <li>Foreign Currency Support</li>
            <li>Supports Random Weight Items</li>
        </ul>
    </div>
</div>