<div class="row-fluid margintop40">
    <div class="col-lg-4">
        <ul>
            <li>Batch or Real Time Depletion</li>
            <li>Automatic Case Breakouts</li>
            <li>Automatic Reorder Reports</li>
            <li>Purchase Order Generation</li>
            <li>Receiving</li>
            <li>Spot Counts and Physical Inventories</li>
            <li>RF Support</li>
            <li>Movement Reports</li>
            <li>Cost and Retail Valuations</li>
        </ul>
    </div>
    <div class="col-lg-8">
        <img src="img/limitless_pos/inventory_control.png">
    </div>
</div>