<div class="row-fluid margintop40">
    <div class="col-lg-4">
        <ul>
            <li>Manual or Automated Price Changes</li>
            <li>RF Support for Shelf Audits</li>
            <li>Affect Base or Promotional Pricing</li>
            <li>Base, Future, TPR, Sale and Club Pricing</li>
            <li>3 Levels of Wholesale Pricing</li>
            <li>Auto Trigger Price Changes</li>
            <li>Customize Shelf Tag Appearance</li>
            <li>Generate Shelf Tags</li>
            <li>Generate Price Comparison Tags</li>
            <li>Generate Sale and Club Tags</li>
            <li>Generate Check Out Coupons and Tags</li>
            <li>Print Price Change Reports</li>
        </ul>
    </div>
    <div class="col-lg-8">
        <img src="img/limitless_pos/product_pricing.jpg">
    </div>
</div>