<div class="margintop40">
    <h4>HIGHLIGHTS</h4>
    <ul>
        <li>Easy and straightforward user interface</li>
        <li>Powerful Menu and Table layout tool</li>
        <li>Simplified menu and inventory control</li>
        <li>Payment processing integration</li>
        <li>Training mode/help desk</li>
        <li>MapPoint Integration for Delivery</li>
        <li>Coupon via E-mail</li>
        <li>KIOSK</li>
        <li>NTEP Certified (CC10-037A1)</li>
        <li>Customizable Retail Style Quick Serve mode</li>
        <li>Catering</li>
        <li>Database backup by Schedule</li>
    </ul>
    <h4>ADVANTAGES</h4>
    <ul>
        <li>Dual monitor capabilities</li>
        <li>Easy to set up menu modifiers</li>
        <li>Video playback</li>
        <li>Photo slideshow playback</li>
        <li>Drag and drop menu manager</li>
        <li>Complete hostess features</li>
        <li>Waiting list and guest paging function</li>
        <li>Payment processing integration</li>
        <li>Visual floor management</li>
        <li>FlexGift™ integration</li>
        <li>Kitchen display</li>
        <li>Multi-Tare capability</li>
        <li>Reward Coupon with FlexGift</li>
        <li>Sending Reports via E-mail</li>
        <li>Label Print for Pizza</li>
        <li>Scanning Weight Barcode</li>
        <li>House Account Manager</li>
        <li>Viewing/Printing Employee Schedule in POS mode</li>
        <li>Pre-authorization for Credit Card transaction</li>
        <li>Hibachi POS layout</li>
    </ul>
    <h4>INNOVATIVE NEW FUNCTIONS THAT WILL BE AVAILBLE IN THE NEAR FUTURE</h4>
    <ul>
        <li>Web BackOffice</li>
        <li>Online ordering</li>
        <li>UP Restaurant Android App</li>
        <li>Quickbook integration</li>
        <li>Drive-thru control</li>
        <li>Digital image display (DID) menu control</li>
        <li>Multi language capabilities</li>
    </ul>
</div>