<div class="margintop40">
    <ul>
        <li>Easy and straightforward user interface</li>
        <li>Powerful Menu and Table layout tool</li>
        <li>Simplified menu and inventory control</li>
        <li>Payment processing integration</li>
        <li>Training mode/help desk</li>
    </ul>
</div>