<div class="margintop40">
    <h4>SYSTEM REQUIREMENTS</h4>
    <ul>
        <li>Intel 1 GHz or higher CPU</li>
        <li>512 MB or higher RAM (1 GB RAM is strongly recommended)</li>
        <li>2 GB or higher free hard drive space</li>
        <li>A reasonably fast hard drive (The higher its RPM, the better)</li>
        <li>Video display supporting 1024 x 768 pixel screen resolution</li>
        <li>Windows® XP or higher operating system</li>
        <li>Enough serial, parallel and USB ports for all your intended peripherals</li>
    </ul>
</div>