<h4 class="text-center">Data Analysis and Business Intelligence</h4>
<div class="marginbot20">
    <img class="img-responsive center-block" src="img/software_development/business_intelligence/business-intelligence.jpg" alt="Business Intelligence"/>
</div>
<p>
We help you make informed decisions based on rich analytics sourced from your IT ecosystem.
</p>
<ul class="list-unstyled">
    <li>
        <strong>Data warehousing and master data management</strong>: putting together a single version of truth by cleansing
        and integrating your data from multiple distributed sources.
    </li>
    <li><strong>Reporting UI</strong>: providing users with interactive reporting dashboards that can be tailored to their particular role.</li>
    <li><strong>Forecast analytics</strong>: tapping into customer trends and demand forecasts with meaningful data.</li>
</ul>
