<h3 class="text-center">Custom Development</h3>
<div class="marginbot20">
    <img class="img-responsive center-block" src="img/software_development/custom_software/software-development.jpg" alt="Custom Software Development"/>
</div>
<p>
    <strong>Enterprise systems</strong>: Order processing, ERP, CRM, inventory and purchasing management, We help to automate your staff's daily activities, boost in-company cooperation and facilitate management so that you can focus on more advanced business issues.
<p>
<p>    
    <strong>Public online service</strong>: We have advanced our competencies in diverse online services with rich functionality and responsive UIs, such as:
</p>
<ul>
    <li>Platforms for online consulting</li>
    <li>Booking solutions</li>
    <li>E-commerce applications</li>
    <li>Scheduling solutions</li>
    <li>API </li>
</ul>

<p><strong>Specific solutions</strong>: Applications for manufacturing, retail, marketing, advertisements, labor tracking.</p>

<p>Our solutions experience makes us competent in delivering solutions that solve specific business challenges. </p>
<h4>Technologies</h4>
<p>
Back end and desktop: PHP, .NET, Java, Node.js, Python
Mobile:   Android,Apache Cordova, iOS, Windows Phone
Frontend: HTML5, JS, CSS3, AngularJS
Databases: MongoDB, SQL Server, MySQL, Oracle, PostgreSQL, GraphDB
</p>

<h4>Integration</h4>
<p>We offer software integration with POS systems.</p>
