<h3 class="text-center">Mobile Enterprise Application</h3>
<div class="marginbot20">
    <img class="img-responsive center-block" src="img/software_development/mobile_app/mobile_app.jpg" alt="Mobile App Development"/>
</div>
<p>
    In contrast to generalist mobile app development firms, Advannova Inc. especially focuses on creating enterprise mobile applications. 
    We develop mobile back-ends to take the load off the applications by incorporating most of their functions and processing their key 
    tasks separately. Thus, your enterprise app will be light, agile and easy to integrate with any business core you may have.
</p>