<h4 class="text-center">Web Development</h4>
<div class="marginbot20">
    <img class="img-responsive center-block" src="img/software_development/business_intelligence/business-intelligence.jpg" alt="Business Intelligence"/>
</div>
<p>
    Keeping abreast of the evolving web technologies, we have been continuously shaping our services to meet the growing demand for fast, secure and interactive websites:
</p>
<ul class="list-unstyled">
    <li>  
        <strong>Full-cycle website design and development</strong>: creating a website from scratch, including requirements gathering, design, implementation, quality assurance as well as maintenance and support
    </li>
    <li>
        <strong>Migration to cloud</strong>: moving your existing website and applications to Amazon Web Services (AWS), Google Cloud Platform and other cloud services to improve scalability and administration and lessen costs
    </li>
    <li>
        <strong>Maintenance and support</strong>:
        <ul>
            <li>Creating new features and fixing bugs</li>
            <li>Enhancing scalability and performance to welcome the growing number of visitors and data</li>
            <li>Improving the website structure to better address user demand</li>
            <li>Increasing compliance with SEO standards for advanced content marketing strategies</li>
            <li>Performing security audit and updates to protect data and users</li>
        </ul>
    </li>
    <li>
        <strong>Web app development and integration</strong>: enriching your website with out-of-the-box and custom social networking apps, payment solutions, advanced analytics and other tools to increase user engagement
    </li>
    <li>
        <strong>Mobile-driven development</strong>: adapting your website for mobile phones and tablets of all platforms and screen sizes as well as using the portal as a back-end for a mobile app
    </li>
    <li><strong>Secure, scalable</strong> and <strong>optimized for high performance</strong>, anticipating business growth and security challenges</li>
    <li><strong>Mobile-friendly</strong> and offer a <strong>responsive web design</strong> across all browsers and screens</li>
    <li><strong>Easy to manage</strong> for non-technical users owing to predefined content formatting styles (headings, paragraphs, multimedia and so on) and a smooth navigation between various kinds of digital assets (texts, images, videos and others)</li>
    <li><strong>Interactive, media-rich</strong> and <strong>personalized</strong> to make your visitors stay always engaged </li>
    <li><strong>Automatically integrated</strong> with business systems (CRM, ERP, e-commerce and so on), social media, data analysis tools and mobile apps</li>
    <li><strong>Multilingual</strong> to answer the need of multiple regions, communities and other distinguished groups of visitors while using a single access point (content management system) and various levels of permissions</li>
    <li><strong>Compliant with SEO</strong> best practices</li>
</ul>
